body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  background-color: lavender;
 
}
.buttonMain {
  display: flex;
  justify-content:center;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(7, 4, 4, 0.856);
  margin-bottom: 0.5cm;
}
.title {
  font-size: xx-large;
  color: white;
  font-weight: 700;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background-color: limegreen;
  color: rgb(9, 9, 33);
  font-weight: 800;
  font-size: x-large;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: groove;
}

button {
  height: 2cm;
  width: 6cm;
  font-weight: 600;
  border-radius: 5px;
  background-color: darkblue;
  cursor: pointer;
  font-size: large;
  color: whitesmoke;
}
button:hover {
  background-color: rgb(14, 14, 166);
}
button:active {
  height: 1.98cm;
  width: 5.98cm;
}
.resume {
display: flex;
justify-content: center;
align-items: center;
  width: 50%;
  height: auto;
}
.resume img{
  height: 300px;
  width: 250px;
}
@media(min-width:320px)and (max-width:767px){
  .logo{
width: 15%;
font-size: medium;
  }
  .title{
    font-size: medium;
    font-weight: 400;
  }
  button{
    width: 3cm;
    font-size:small;
  }
}
footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 4cm;
  width: 100%;
}
.footerChild {
  width: 70%;
  text-align: center;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}
